html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/about_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1490px;
    position: relative;
}

.text {
    align-items: center;
}

.back {
    position: absolute;
    top: 689px;
    left: 1030px;
    width: 130px;
    height: 80px;
}