html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    font-size: 21pt;
    color: rgb(77, 48, 23);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/about_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1490px;
    position: relative;
}

.wrapper {
    max-width: 750px;
    margin: auto;
    position: absolute;
    height: 350px;
    width: 800px;
    top: 330px;
    left: 400px;
}

.back {
    position: absolute;
    top: 689px;
    left: 1030px;
    width: 130px;
    height: 80px;
}