html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/door_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1510px;
    position: relative;
}

.door {
    position: absolute;
    top: 150px;
    left: 550px;
    width: 415px;
    height: 550px;
}

.door-text {
    position: absolute;
    top: 800px;
    left: 630px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;  
}

.door:hover + .door-text {
    width: 250px;
    height: 50px;   
}

.back {
    position: absolute;
    top: 772px;
    left: 40px;
    width: 180px;
    height: 100px;
}