html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36pt;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    list-style: none;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/options_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1490px;
    position: relative;
}

.wrapper {
    max-width: 750px;
    margin: auto;
    position: absolute;
    height: 450px;
    width: 300px;
    top: 320px;
    left: 610px;
}

.nav {
    list-style: none;
    text-align: center;
    padding: 0;
}

.back {
    position: absolute;
    top: 697px;
    left: 1012px;
    width: 130px;
    height: 80px;
}