html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/right_shack_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1510px;
    position: relative;
}

.shack {
    position: absolute;
    top: 332px;
    left: 820px;
    width: 310px;
    height: 200px;
}

.fish {
    position: absolute;
    top: 440px;
    left: 410px;
    width: 105px;
    height: 120px;
}

.fish-text {
    position: absolute;
    top: 800px;
    left: 650px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;  
}

.fish:hover + .fish-text {
    width: 180px;
    height: 50px;   
}

.back {
    position: absolute;
    top: 695px;
    left: 117px;
    width: 120px;
    height: 70px;
}