html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/sign-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1510px;
    position: relative;
}

.left {
    position: absolute;
    top: 365px;
    left: 685px;
    width: 150px;
    height: 70px;
}

.forward {
    position: absolute;
    top: 440px;
    left: 670px;
    width: 180px;
    height: 70px;
}

.right {
    position: absolute;
    top: 515px;
    left: 685px;
    width: 150px;
    height: 70px;
}