html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(20, 30, 20);

}

body {
    justify-content: center;
    margin: 0;
    padding: 0px 200px;
    height: 900px;
}

.tree {
    background-color: rgb(67, 38, 15);
    width: 800px;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    padding: 0;
    margin: 50px 10px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 80, 50);
    width: 500px;
    height: 250px;
    font-size: 36px;
    justify-content: center;
}

.menu-item {
    display: flex;
    padding: 0;
    margin: 50px 10px;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 80, 50);
    width: 300px;
    height: 150px;
    font-size: 48px;
    justify-content: center;
}

.item {
    text-decoration: none;
    color: rgb(33, 16, 5);
    padding: 5px;
}

.item:hover {
    color: rgb(63, 25, 5);
}