html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/start_menu_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1490px;
    position: relative;
}

.start {
    position: absolute;
    top: 430px;
    left: 600px;
    width: 360px;
    height: 100px;
}

.about {
    position: absolute;
    top: 560px;
    left: 600px;
    width: 360px;
    height: 100px;
}



.options {
    position: absolute;
    top: 690px;
    left: 600px;
    width: 360px;
    height: 100px;
}