html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/left_shack_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1520px;
    position: relative;
}

.shack {
    position: absolute;
    top: 330px;
    left: 385px;
    width: 300px;
    height: 200px;
}

.shack-text {
    position: absolute;
    top: 800px;
    left: 630px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;  
}

.shack:hover + .shack-text {
    width: 250px;
    height: 50px;   
}

.bear {
    position: absolute;
    top: 430px;
    left: 965px;
    width: 120px;
    height: 120px;
}

.bear-text {
    position: absolute;
    top: 800px;
    left: 650px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;  
}

.bear:hover + .bear-text {
    width: 180px;
    height: 50px;   
}

.back {
    position: absolute;
    top: 692px;
    left: 1270px;
    width: 120px;
    height: 70px;
}