html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(20, 30, 20);

}

body {
    justify-content: center;
    margin: 0;
    padding: 0;
    height: auto;
}

.guy {
    background-color: rgb(223, 184, 156);
    width: 200px;
    height: 200px;
    margin: 300px 0px 0px 1000px;
    color: rgb(223, 184, 156);
    border-radius: 100px 100px 0 0 ;
}

.desk {
    background-color: rgb(100, 80, 50);
    width: 1000px;
    height: 300px;
    margin: 0px 0px 0px 600px;
    color: rgb(100, 80, 50);
}

.ground {
    background-color: rgb(9, 8, 7);
    margin: 0;
    padding: 0px;
    align-items: baseline;
    color: rgb(9, 8, 7);
    height: 100px;
}