html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view-window {
    background-color: rgb(255, 255, 255);
    background-image: url(background-images/right_shack_interior_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 1510px;
    position: relative;
}

.gem {
    position: absolute;
    top: 155px;
    left: 155px;
    transition: all 500ms;   
    display: flex;
    padding: 10px;  
}

.gem:hover {
    top: 100px;
    left: 100px;    
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.gem img {
    width: 70px;
    transition: all 500ms;      
}

.gem:hover img {
    width: 300px;
}

.gem-description {
    display: none;
    width: 350px;
    color: rgb(215, 215, 215);
}

.gem:hover .gem-description {
    display: block;
}

.orb {
    position: absolute;
    top: 120px;
    left: 320px;
    transition: all 500ms;   
    display: flex;
    padding: 10px;  
}

.orb:hover {
    top: 100px;
    left: 250px;    
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.orb img {
    width: 70px;
    transition: all 500ms;      
}

.orb:hover img {
    width: 300px;
}

.orb-description {
    display: none;
    width: 350px;
    color: rgb(215, 215, 215);
}

.orb:hover .orb-description {
    display: block;
}

.hat {
    position: absolute;
    top: 132px;
    left: 495px;
    transition: all 500ms;   
    display: flex;
    padding: 10px;  
}

.hat:hover {
    top: 100px;
    left: 250px;    
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.hat img {
    width: 100px;
    transition: all 500ms;      
}

.hat:hover img {
    width: 300px;
}

.hat-description {
    display: none;
    width: 350px;
    color: rgb(215, 215, 215);
}

.hat:hover .hat-description {
    display: block;
}

.jar {
    position: absolute;
    top: 122px;
    left: 690px;
    transition: all 500ms;   
    display: flex;
    padding: 10px;  
}

.jar:hover {
    top: 100px;
    left: 250px;    
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.jar img {
    width: 85px;
    transition: all 500ms;      
}

.jar:hover img {
    width: 300px;
}

.jar-description {
    display: none;
    width: 350px;
    color: rgb(215, 215, 215);
}

.jar:hover .jar-description {
    display: block;
}

.guy {
    position: absolute;
    top: 150px;
    left: 870px;
    transition: all 500ms;   
    display: flex;
    padding: 10px;  
}

.guy:hover {
    top: 100px;
    left: 310px;    
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.guy img {
    width: 85px;
    transition: all 500ms;      
}

.guy:hover img {
    width: 300px;
}

.guy-description {
    display: none;
    width: 350px;
    color: rgb(215, 215, 215);
}

.guy:hover .guy-description {
    display: block;
}

.shopkeep {
    position: absolute;
    top: 330px;
    left: 340px;
    width: 330px;
    height: 140px;
}

.shopkeep-text {
    position: absolute;
    top: 500px;
    left: 330px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;
}

.shopkeep:hover + .shopkeep-text {
    width: 400px;
    height: 70px;   
}

.register {
    position: absolute;
    top: 340px;
    left: 740px;
    width: 150px;
    height: 150px;
}

.register-text {
    position: absolute;
    top: 500px;
    left: 330px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;
    /* white-space: nowrap; */
    /* word-break: break-all; */
}

.register:hover + .register-text {
    width: 400px;
    height: 50px;
}

.bear-trap {
    position: absolute;
    top: 325px;
    left: 110px;
    width: 110px;
    height: 110px;
}

.bear-trap-text {
    position: absolute;
    top: 500px;
    left: 330px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;
}

.bear-trap:hover + .bear-trap-text {
    width: 400px;
    height: 50px;   
}

.exit {
    position: absolute;
    top: 100px;
    left: 1148px;
    width: 317px;
    height: 550px;
}

.door-text {
    position: absolute;
    top: 500px;
    left: 850px;
    background-color: rgb(0, 0, 0, .75);
    color: rgb(215, 215, 215);
    border-radius: 30px;
    border-color: black;
    border: 15px;
    transition: all 1000ms;
    width: 0px;
    height: 40px;
    overflow: hidden;  
}

.exit:hover + door-text {
    width: 400px;
    height: 40px;    
}